/2222222trainset_translation_matrix_2d_qword_tope(20topterm(20.out
/q_ret_100_entities_lm.json
/trainset_translation_matrix_2d_qword_tope(20topterm(20.out
/trainset_translation_matrix_tfidf_terms_50.out
/type_detail_from_mlFeature.tsv
/type_tfidf_sorted_terms_sig17.tsv
